@font-face {
  font-family: "Book Antiqua";
  src: url("../fonts/BKANT.TTF");
}
@font-face {
  font-family: "Book Antiqua Italic";
  src: url("../fonts/ANTQUAI.TTF");
}
@font-face {
  font-family: "Book Antiqua Bold";
  src: url("../fonts/ANTQUAB.TTF");
}
@font-face {
  font-family: "Book Antiqua Bold Italic";
  src: url("../fonts/ANTQUABI.TTF");
}
html,
body {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
.toTop {
  display: none;
  font-weight: 800;
  position: fixed;
  height: 60px;
  width: 60px;
  line-height: 40px;
  bottom: 50px;
  right: 50px;
  z-index: 300;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0;
  border-radius: 100%;
  background: url(../images/toTop.png);
  background-size: cover;
  transition: all 0.5s;
}
.imagesinfoblock {
  display: none;
}
.imagesinfoblock .infoblock_img {
  width: 100%;
  height: auto;
}
.toTop:hover {
  text-decoration: none;
  filter: grayscale(1);
  cursor: pointer;
}
.mainmenu {
  position: absolute;
  left: 50%;
  margin-left: var(--haf-mainmenu);
  z-index: 100;
}
.mainmenu .navigation {
  padding: 10px 0;
  justify-content: space-between;
  position: relative;
  font-family: "Roboto", sans-serif;
}
.mainmenu .main_logo {
  width: 170px;
}
.mainmenu .main_logo_img {
  height: auto;
  width: 160px;
  position: absolute;
}
.mainmenu .hamburger,
.mainmenu .phone_btn {
  display: none;
  border: none;
  background: transparent;
  width: 40px;
  height: auto;
}
.mainmenu .hamburger .hamburger_img,
.mainmenu .phone_btn .hamburger_img {
  width: 100%;
  height: auto;
}
.mainmenu .buttons {
  display: none;
}
.mainmenu .header_menu {
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.mainmenu .header_menu .closebtn {
  display: none;
  width: max-content;
}
.mainmenu .header_menu li {
  display: inline-flex;
}
.mainmenu .header_menu .header_menu_link {
  margin-right: 20px;
  font-size: 18px;
  color: #44261C;
  transition: all 0.5s;
}
.mainmenu .header_menu .header_menu_link:hover {
  color: #924E27;
  text-decoration: none;
}
.mainmenu .conts {
  display: flex;
  position: relative;
  margin-top: 15px;
}
.mainmenu .phone {
  position: relative;
}
.mainmenu .phone .phone_number {
  font-size: 16px;
}
.mainmenu .phone .recall {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  background: transparent;
  color: #847187;
  font-size: 12px;
  border: none;
  transition: all 0.5s;
}
.mainmenu .phone .recall:hover {
  color: #924E27;
  text-decoration: underline;
}
.mainmenu .languages {
  margin: 0;
}
.mainmenu .languages .bet {
  color: #CAA781;
}
.mainmenu .languages li {
  display: inline-flex;
}
.mainmenu .languages .lang {
  color: #847187;
  transition: all 0.5s;
}
.mainmenu .languages .lang:hover {
  color: #924E27;
}
.mainmenu .languages .active {
  color: #44261C;
}
.header_menu_mobile,
.phone_mobile {
  display: none;
  padding: 0;
}
header {
  background-image: url(../images/mainbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 960px;
  position: relative;
}
header .main_title {
  font-family: "Book Antiqua Bold Italic";
  font-size: 75px;
  text-transform: uppercase;
  margin-top: 250px;
  position: relative;
}
header .main_title::after {
  content: "";
  width: 24%;
  height: 3px;
  border-bottom: 2px solid #CAA781;
  position: absolute;
  left: 0;
  bottom: 0;
}
header .main_desc {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  width: 45%;
  font-weight: normal;
  margin-top: 30px;
}
header .register_btn {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 14px 7px;
  width: max-content;
  height: auto;
  margin-top: 120px;
}
header .register {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 10px 70px;
  border-radius: 42px;
  transition: all 0.5s;
}
header .register:hover {
  text-decoration: none;
  filter: grayscale(1);
}
header .socials {
  margin-top: 70px;
  padding: 0;
}
header .socials li {
  display: inline;
  margin-right: 10px;
}
header .socials .social_link:hover {
  text-decoration: none;
}
header .socials .social_img {
  width: 30px;
  height: auto;
  transition: all 0.5s;
}
header .socials .social_img:hover {
  filter: grayscale(1);
}
.elipse {
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -35px;
  border-radius: 100%;
}
.elipse img {
  border-radius: 100%;
  overflow: hidden;
}
.section_title {
  font-family: "Book Antiqua";
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  color: #924E27;
  position: relative;
  margin-left: 50px;
}
.section_title span {
  color: #000000;
}
.section_title::before {
  content: url(../images/rounds.png);
  height: 150px;
  width: 135px;
  position: absolute;
  left: -50px;
  top: -30px;
}
.section_text {
  width: 50%;
  font-size: 14px;
  margin-left: 50px;
}
.reasons {
  background-image: url(../images/reasonsbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: auto;
  min-height: 1040px;
  position: relative;
  margin-bottom: 100px;
}
.reasons .reason_block {
  position: relative;
  background: white;
  border-radius: 35px;
  top: 150px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: 100%;
  box-shadow: 0 3px 6px #00000082;
}
.reasons .reason_block .number {
  position: absolute;
  font-size: 130px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #CAA781;
  z-index: -1;
  left: -10px;
  top: -100px;
  opacity: 0.5;
}
.reasons .reason_block .reason_block_title {
  margin-top: 40px;
  padding: 0 10px;
  text-align: center;
  font-family: "Book Antiqua";
  font-weight: bold;
  font-size: 23px;
  text-transform: uppercase;
}
.reasons .reason_block .reason_block_text {
  margin-top: auto;
  font-size: 16px;
  text-align: center;
}
.reasons .reason_btn {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 14px 7px;
  width: max-content;
  height: auto;
  margin: 0 auto;
}
.reasons .reason_link {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 10px 70px;
  border-radius: 42px;
  transition: all 0.5s;
}
.reasons .reason_link:hover {
  text-decoration: none;
  filter: grayscale(1);
}
.reasons .two {
  position: relative;
  top: 200px;
}
.reasons .three {
  margin-top: 100px;
}
.types {
  margin-top: 200px;
}
.type_one {
  margin-top: 50px;
  z-index: 100;
  padding: 25px 0;
  position: relative;
}
.type_one::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 700px;
  background-image: url(../images/klaks_left.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.type_one .type_img_right::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 520px;
  background-image: var(--right-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.type_one .type_title {
  font-family: "Book Antiqua";
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 40px;
}
.type_one .type_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #44261C;
  margin-bottom: 40px;
}
.type_one .type_btn {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 14px 7px;
  width: max-content;
  height: auto;
  margin-left: auto;
}
.type_one .type_link {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 10px 70px;
  border-radius: 42px;
  transition: all 0.5s;
  z-index: 200;
}
.type_one .type_link:hover {
  text-decoration: none;
  filter: grayscale(1);
}
.type_two {
  margin-top: 100px;
  padding: 25px 0;
  position: relative;
}
.type_two::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 700px;
  background-image: url(../images/klaks_right.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.type_two .type_img_left::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -50px;
  width: 110%;
  height: 520px;
  background-image: var(--left-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.type_two .type_title {
  font-family: "Book Antiqua";
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 40px;
  text-align: right;
}
.type_two .type_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #44261C;
  margin-bottom: 40px;
  text-align: right;
}
.type_two .type_btn {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 14px 7px;
  width: max-content;
  height: auto;
  margin-right: auto;
  margin-top: 150px;
}
.type_two .type_link {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 10px 70px;
  border-radius: 42px;
  transition: all 0.5s;
}
.type_two .type_link:hover {
  text-decoration: none;
  filter: grayscale(1);
}
.cards {
  margin-top: 100px;
  background-image: url(../images/cardsbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cards .cards_mobi {
  display: none;
}
.cards .cards_text {
  margin-top: 70px;
  margin-bottom: 170px;
}
.cards .cards_btn {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 14px 7px;
  width: max-content;
  height: auto;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
}
.cards .cards_link {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 10px 70px;
  border-radius: 42px;
  transition: all 0.5s;
}
.cards .cards_link:hover {
  text-decoration: none;
  filter: grayscale(1);
}
.fotos {
  margin-top: 100px;
  position: relative;
}
.fotos::before {
  content: " ";
  position: absolute;
  background-image: url(../images/flower2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  top: -70px;
  right: 0;
  width: 200px;
  height: 300px;
}
.fotos .images {
  margin-top: 50px;
}
.fotos .images .top_img {
  display: block;
  margin-right: auto;
}
.fotos .images .center_img {
  display: block;
  margin-left: auto;
  margin-top: -10px;
}
.fotos .images .bottom_img {
  display: block;
  margin-right: auto;
  margin-top: -13px;
}
.fotos .img_btn {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 14px 7px;
  width: max-content;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.fotos .img_link {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 10px 70px;
  border-radius: 42px;
  transition: all 0.5s;
}
.fotos .img_link:hover {
  text-decoration: none;
  filter: grayscale(1);
}
.call {
  margin-top: 100px;
  background-image: url(../images/callbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.call form {
  margin-top: 25px;
  margin-bottom: 70px;
}
.call form ::placeholder {
  color: #CAA781;
}
.call form ::-moz-placeholder {
  color: #CAA781;
}
.call form ::-webkit-input-placeholder {
  color: #CAA781;
}
.call form input,
.call form textarea {
  display: block;
  width: 88%;
  margin-bottom: 25px;
  margin-left: auto;
  color: #000000;
  font-size: 13px;
  padding-left: 20px;
  border: 1px solid #CAA781;
  border-radius: 15px;
}
.call form input {
  height: 40px;
}
.call form textarea {
  padding-top: 15px;
}
.call form ul {
  padding: 0;
}
.call form ul li {
  list-style-type: none;
  position: relative;
}
.call form ul li::before {
  content: "";
  background-image: url(../images/input_ellipse.png);
  background-size: cover;
  height: 60px;
  width: 60px;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -30px;
}
.call form .form_text {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #CAA781;
  text-align: center;
}
.call form .form_btn_outside {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 6px 7px;
  width: max-content;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.call form .form_btn {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 8px 70px;
  border-radius: 42px;
  border: none;
  transition: all 0.5s;
}
.call form .form_btn:hover {
  text-decoration: none;
  filter: grayscale(1);
}
footer {
  margin-top: 100px;
  height: auto;
  padding-top: 200px;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
footer .adress,
footer .email,
footer .phone {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
footer .row {
  align-items: center;
}
footer .top_block p {
  text-align: left;
  padding: 0;
  margin: 0;
}
footer .center_block {
  text-align: center;
}
footer .center_block .logo_img {
  width: 60%;
  height: auto;
}
footer .bottom_block p {
  text-align: right;
  padding: 0;
  margin: 0;
}
footer .copyright {
  border-top: 1px solid #CAA781;
  max-width: 100vw;
  padding-top: 10px;
}
footer .copyright .copyright_text {
  font-size: 14px;
  color: #44261C;
}
footer .copyright .footer_socials {
  text-align: right;
}
footer .copyright .footer_socials li {
  display: inline;
}
footer .copyright .footer_socials img {
  width: 25px;
  height: auto;
}
footer .copyright .footer_socials .fs_link {
  margin-left: 5px;
  transition: all 0.5s;
}
footer .copyright .footer_socials .fs_link:hover {
  text-decoration: none;
  filter: grayscale(1);
}
.contacts {
  position: relative;
  padding-top: 250px;
  background-image: url(../images/contact_claks.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.contacts .contact_block {
  border-radius: 35px;
  box-shadow: 0 3px 6px #00000082;
  padding: 25px 15px;
  height: 100%;
  background-color: #ffffff;
}
.contacts .contact_block .contact_block_title {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Book Antiqua";
}
.contacts .contact_block .phones,
.contacts .contact_block .mails,
.contacts .contact_block .adress {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20%;
  list-style: none;
  text-align: center;
}
.contacts .section_title {
  margin-top: 100px;
}
.contacts form {
  margin-top: 25px;
}
.contacts form ::placeholder {
  color: #CAA781;
}
.contacts form ::-moz-placeholder {
  color: #CAA781;
}
.contacts form ::-webkit-input-placeholder {
  color: #CAA781;
}
.contacts form input,
.contacts form textarea {
  display: block;
  width: 88%;
  margin-bottom: 25px;
  margin-left: auto;
  color: #000000;
  font-size: 13px;
  padding-left: 20px;
  border: 1px solid #CAA781;
  border-radius: 15px;
}
.contacts form input {
  height: 40px;
}
.contacts form textarea {
  padding-top: 15px;
  width: 94%;
}
.contacts form ul {
  padding: 0;
  width: 100%;
}
.contacts form ul li {
  list-style-type: none;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 48%;
}
.contacts form ul li::before {
  content: "";
  background-image: url(../images/input_ellipse.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -38px;
}
.contacts form ul .textarea {
  width: 100%;
}
.contacts form .names {
  display: flex;
  justify-content: space-between;
}
.contacts form .form_text {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #CAA781;
  text-align: center;
}
.contacts form .form_btn_outside {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 6px 7px;
  width: max-content;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}
.contacts form .form_btn {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 8px 70px;
  border-radius: 42px;
  border: none;
  transition: all 0.5s;
}
.contacts form .form_btn:hover {
  text-decoration: none;
  filter: grayscale(1);
}
.gallery {
  position: relative;
  padding-top: 250px;
  background-image: url(../images/contact_claks.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.gallery .card {
  border: none;
  background: transparent;
}
.gallery .gallery_img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.services {
  position: relative;
  padding-top: 180px;
  background-image: url(../images/contact_claks.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.services .service_title {
  font-family: "Book Antiqua";
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 40px;
  color: #000000;
  transition: all 0.5s;
}
.services .service_title:hover {
  color: #924E27;
}
.services .service_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #44261C;
  margin-bottom: 40px;
}
.services .service_btn {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 14px 7px;
  width: max-content;
  height: auto;
  margin-left: auto;
}
.services .left_btn {
  margin-left: 0;
}
.services .service_link {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 10px 70px;
  border-radius: 42px;
  transition: all 0.5s;
  z-index: 200;
}
.services .service_link:hover {
  text-decoration: none;
  filter: grayscale(1);
}
.services .info_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services .image_box img {
  width: 100%;
  height: auto;
}
.services .row {
  flex-wrap: wrap;
}
.calendar {
  position: relative;
  padding-top: 180px;
  background-image: url(../images/contact_claks.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.calendar .month {
  font-size: 75px;
  font-family: "Book Antiqua";
  font-weight: bold;
  font-style: italic;
  color: #924E27;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: -40px;
}
.calendar .info {
  text-align: left;
  font-size: 20px;
  color: #44261C;
  font-family: "Book Antiqua";
  font-weight: bold;
}
.calendar .info .time {
  text-decoration: underline;
}
.calendar .times {
  padding: 15px 5px;
  border: 1px solid #CAA781;
  background: #ffffff;
}
.calendar .times ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.calendar .times ul li {
  list-style: none;
  text-align: center;
  width: 14%;
  font-size: 20px;
  font-family: "Book Antiqua";
  color: #44261C;
  font-weight: bold;
}
.calendar .times ul li:hover {
  cursor: pointer;
  color: #924E27;
}
.calendar .times ul .active {
  color: #CAA781;
  pointer-events: none;
}
.calendar .ava_img {
  margin: 20px auto;
  padding: 0;
  position: relative;
}
.calendar .ava_img::before {
  content: "";
  display: block;
  position: absolute;
  height: 210px;
  width: 210px;
  top: -10px;
  left: 0;
  background-image: url(../images/krug.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}
.calendar .ava_img .avatar {
  width: 188px;
  height: auto;
  border-radius: 100%;
}
.calendar .prof {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  margin-bottom: 0;
}
.calendar .profname {
  font-size: 20px;
  font-family: "Book Antiqua";
}
.calendar .owl-carousel .owl-stage-outer {
  height: 70px;
}
.calendar .item .day_block {
  text-align: center;
  width: 98%;
  height: auto;
  border: 1px solid #CAA781;
  background: #ffffff;
  position: relative;
}
.calendar .item .day_block .date {
  font-family: "Book Antiqua";
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.calendar .item .day_block .day {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #924E27;
}
.calendar .item .day_block:hover {
  border-color: #44261C;
  background: #CAA781;
}
.calendar .item .day_block:hover .date {
  color: #ffffff;
}
.calendar .item .day_block:hover .day {
  color: #ffffff;
}
.calendar .item .day_block:disabled {
  pointer-events: none;
  background: #ffffff;
}
.calendar .item .day_block:disabled::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.6;
}
.calendar .item .disabled::before {
  position: absolute;
  content: "Brak wpisu";
  line-height: 14px;
  text-align: center;
  padding: 5px;
  width: 70px;
  height: auto;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  z-index: 100;
  bottom: -10px;
  right: -2px;
  background: #CAA781;
}
.article {
  position: relative;
  padding-top: 180px;
  background-image: url(../images/contact_claks.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.article .article_img {
  width: 100%;
  height: auto;
}
.article .article_title {
  position: relative;
  z-index: 100;
  width: 300px;
  left: 60px;
  top: -140px;
}
.article .article_title::before {
  content: "";
  display: block;
  position: absolute;
  height: 450px;
  width: 450px;
  top: -130px;
  left: -110px;
  background-image: url(../images/krug.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}
.article .article_title .atitle {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Book Antiqua";
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
}
.article .article_title .price {
  font-size: 20px;
  font-family: "Book Antiqua";
  color: #ffffff;
}
.article .article_title .price li {
  list-style: none;
  text-align: right;
  margin-right: 80px;
}
.article .article_title .price li span {
  margin-left: 20px;
}
.article .article_title .percent {
  font-size: 70px;
  font-family: "Book Antiqua";
  font-weight: bold;
  color: #ffffff;
}
.article .article_title .percent li {
  list-style: none;
  text-align: right;
  margin-right: 80px;
}
.article .btn_block {
  margin-top: -150px;
  margin-bottom: 50px;
}
.article .btn_block .service_btn {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 14px 7px;
  width: max-content;
  height: auto;
  margin-left: auto;
}
.article .btn_block .service_link {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 10px 70px;
  border-radius: 42px;
  transition: all 0.5s;
  z-index: 200;
}
.article .btn_block .service_link:hover {
  text-decoration: none;
  filter: grayscale(1);
}
.article .article_block {
  margin-top: 100px;
}
.article .article_block .article_text {
  font-size: 16px;
  color: #44261C;
}
.recall_modal {
  max-width: 460px;
}
.recall_modal form {
  margin-top: 25px;
}
.recall_modal form ::placeholder {
  color: #CAA781;
}
.recall_modal form ::-moz-placeholder {
  color: #CAA781;
}
.recall_modal form ::-webkit-input-placeholder {
  color: #CAA781;
}
.recall_modal form input {
  display: block;
  width: 85%;
  margin-bottom: 25px;
  margin-left: auto;
  color: #000000;
  font-size: 13px;
  padding-left: 20px;
  border: 1px solid #CAA781;
  border-radius: 15px;
}
.recall_modal form input {
  height: 40px;
}
.recall_modal form ul {
  padding: 0;
}
.recall_modal form ul li {
  list-style-type: none;
  position: relative;
}
.recall_modal form ul li::before {
  content: "";
  background-image: url(../images/input_ellipse.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -25px;
}
.recall_modal form .form_text {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #CAA781;
  margin-left: 60px;
}
.recall_modal form .form_btn_outside {
  border: 1px solid #924E27;
  border-radius: 50px;
  padding: 6px 7px;
  width: max-content;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.recall_modal form .form_btn {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(to top, #924E27, #CAA781);
  padding: 8px 70px;
  border-radius: 42px;
  border: none;
  transition: all 0.5s;
}
.recall_modal form .form_btn:hover {
  text-decoration: none;
  filter: grayscale(1);
}
#recall {
  z-index: 3000;
}
.modal-content {
  padding: 30px;
  border-radius: 0;
}
.modal-content .modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.modal_title {
  font-family: "Book Antiqua";
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  margin-left: 20px;
  color: #924E27;
}
.modal_title span {
  color: #44261C;
}
.modal_title::before {
  content: url(../images/modal_rounds.png);
  height: 150px;
  width: 135px;
  position: absolute;
  left: -20px;
  top: -12px;
}
.close_btn {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  position: relative;
  top: -20px;
}
.close_btn:hover {
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .mainmenu .main_logo_img {
    width: 70px;
  }
  .mainmenu .header_menu,
  .mainmenu .phone,
  .mainmenu .languages {
    display: none;
  }
  .mainmenu .buttons {
    display: flex;
    align-items: center;
  }
  .mainmenu .buttons .languages_mobile {
    display: flex;
    margin: 0;
    padding: 0 10px;
  }
  .mainmenu .buttons .languages_mobile li {
    padding: 0 5px;
    list-style: none;
  }
  .mainmenu .buttons .languages_mobile .bet {
    color: #CAA781;
  }
  .mainmenu .buttons .languages_mobile .lang {
    color: #847187;
    transition: all 0.5s;
  }
  .mainmenu .buttons .languages_mobile .lang:hover {
    color: #924E27;
  }
  .mainmenu .buttons .languages_mobile .active {
    color: #44261C;
  }
  .mainmenu .hamburger,
  .mainmenu .phone_btn {
    display: block;
    z-index: 1500;
  }
  .header_menu_mobile,
  .phone_mobile {
    display: flex;
    z-index: 2000;
    position: fixed;
    overflow-x: hidden;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    opacity: 0.95;
  }
  .header_menu_mobile li,
  .phone_mobile li {
    display: block;
    width: 70%;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
  }
  .header_menu_mobile .menu_header,
  .phone_mobile .menu_header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    top: 20px;
    border-bottom: none;
  }
  .header_menu_mobile .menu_header .closebtn,
  .phone_mobile .menu_header .closebtn {
    color: #ffffff;
    font-size: 25px;
  }
  .header_menu_mobile .menu_header .closebtn:hover,
  .phone_mobile .menu_header .closebtn:hover {
    text-decoration: none;
  }
  .header_menu_mobile .phones_block,
  .phone_mobile .phones_block {
    border: none;
    color: #ffffff;
    font-size: 20px;
  }
  .header_menu_mobile .phones_block .recall,
  .phone_mobile .phones_block .recall {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 14px;
    color: #CAA781;
  }
  .header_menu_mobile .header_menu_link,
  .phone_mobile .header_menu_link {
    color: #ffffff;
    font-size: 20px;
  }
  .header_menu_mobile .header_menu_link:hover,
  .phone_mobile .header_menu_link:hover {
    text-decoration: none;
  }
  .reasons .reason_btn {
    margin: 0;
    margin-left: auto !important;
  }
  .type_one .type_img_right::before,
  .type_two .type_img_left::before {
    background-size: 100%;
  }
  .fotos .images .top_img,
  .fotos .images .center_img,
  .fotos .images .bottom_img {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  header .main_title {
    margin-top: 120px;
    font-size: 50px;
  }
  header .main_desc {
    width: 50%;
  }
  header .register {
    padding: 10px 30px;
  }
  .reasons .reason_link {
    padding: 10px 30px;
  }
  .type_one .type_btn,
  .type_two .type_btn {
    text-align: center;
  }
  .type_one .type_link,
  .type_two .type_link {
    padding: 10px 30px;
    margin: 0 auto;
  }
  .cards .cards_link {
    padding: 10px 30px;
  }
  .fotos .img_link {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 764px) {
  header {
    background-size: 130%;
    background-position: top left;
    height: max-content;
    min-height: 700px;
  }
  header .main_title {
    font-size: 35px;
  }
  header .main_desc {
    font-size: 18px;
    width: 80%;
  }
  header .register_btn {
    text-align: center;
    padding: 6px 7px;
    width: 100%;
  }
  header .register {
    width: 100%;
    display: inline-block;
    font-size: 23px;
  }
  .section_title {
    font-size: 20px;
    margin-left: 30px;
  }
  .section_title::before {
    content: url(../images/rounds_mobi.png);
    left: -30px;
    top: -20px;
  }
  .section_text {
    width: 100%;
    font-size: 13px;
    margin-top: 50px;
    margin-left: 0;
    color: #44261C;
  }
  .reasons .reason_block {
    top: 100px;
  }
  .reasons .reason_block .number {
    font-size: 111px;
  }
  .reasons .reason_block .reason_block_title {
    font-size: 18px;
  }
  .reasons .reason_block .reason_block_text {
    font-size: 14px;
  }
  .reasons .reason_link {
    font-size: 23px;
  }
  .reasons .two {
    top: 100px;
  }
  .reasons .three {
    top: 100px;
  }
  .reasons .reason_btn {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .imagesinfoblock {
    display: block;
  }
  .type_img_right,
  .type_img_left {
    display: none;
  }
  .types {
    margin-top: 100px;
  }
  .type_one {
    margin-top: 0;
  }
  .type_one .type_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .type_one .type_text {
    font-size: 14px;
  }
  .type_one .type_btn {
    margin-right: auto;
  }
  .type_one .type_link {
    font-size: 23px;
  }
  .type_two {
    margin-top: 0;
  }
  .type_two .type_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .type_two .type_text {
    font-size: 14px;
  }
  .type_two .type_btn {
    margin-left: auto;
    margin-top: 0;
  }
  .type_two .type_link {
    font-size: 23px;
  }
  .cards {
    background: none;
  }
  .cards .cards_mobi {
    display: flex;
  }
  .cards .cards_mobi .cards_mobi_img {
    width: 100%;
    height: auto;
    margin-top: -50px;
    margin-bottom: -50px;
  }
  .cards .cards_text {
    font-size: 13px;
    color: #44261C;
    margin-bottom: 20px;
  }
  .cards .cards_btn {
    margin-top: 0;
  }
  .cards .cards_link {
    font-size: 23px;
  }
  .fotos .img_link {
    font-size: 23px;
  }
  .call form .form_btn {
    font-size: 23px;
  }
  footer {
    margin-top: 0;
  }
  footer .top_block p {
    text-align: center;
    color: #44261C;
  }
  footer .bottom_block {
    margin-bottom: 20px;
  }
  footer .bottom_block p {
    text-align: center;
    color: #44261C;
  }
  .recall_modal form .form_btn {
    font-size: 23px;
  }
}
@media screen and (max-width: 500px) {
  .mainmenu {
    padding: 0 20px;
  }
  .mainmenu .phone_btn .hamburger_img {
    width: 16px;
  }
}
